<div ng-controller="mainController">
<form id="cadastro">
		<div class="form-group">
			<input type="number" class="form-control" name="cod_merc" ng-model="cod_merc" placeholder="Código da Mercadoria" >
		</div>

		<div class="form-group">
			<input type="text" class="form-control" name="name_merc" ng-model="name_merc" placeholder="Nome da Mercadoria" >
		</div>

		<div class="form-group">
			<select class="form-control " name="tipo_merc" ng-model="tipo_merc"  >
				<option value="" disabled selected>Tipo de Mercadoria</option>
				<option value="Brinquedos">Brinquedos</option>
				<option value="Celular">Celular</option>
				<option value="Informática">Informática</option>
				<option value="Livros">Livros</option>
			</select>
		</div>

		<div class="form-group">
			<input type="text" class="form-control" name="quant_merc" ng-model="quant_merc" placeholder="Quantidade" >
		</div>

		<div class="form-group">
			<input type="text" class="form-control" name="preco_merc" ng-model="preco_merc" placeholder="Preço..." >
		</div>

		<div class="form-group">
			<select class="form-control " name="tipo_neg_merc" ng-model="tipo_neg_merc" >
				<option value="" disabled selected>Tipo de Negócio</option>
				<option value="Compra">Compra</option>
				<option value="Venda">Venda</option>
			</select>
		</div>
	<input type="hidden" ng-model="id_merc" />
	<input type="submit" class="btn btn-primary btn-block" ng-click="insertData()" value="Cadastrar Mercadoria" >
<br>
								<p class="alert-success text-center">{{message}}</p>

</form>
</div>
</html>